<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>::: 같이걸을까 :::</title>
</head>
<body>
    <img src="frontapp/static/frontapp/images/index.jpg" class="img-fluid" alt="...">
</body>
{% comment %} <body>
    <div class = "wrap">
        <div class = "header">
            <button>산책로를 추천해드려요</button>
        </div>
        <div class = "content">
            <div class = "login_div">
                <button id = "login_bt">
                    <img src = "static\frontapp\images\kakaotalk_login.png" id = "kakao_img">
                </button>
            </div>
        </div>


        <div class = "footer">
            Copyright ⓒ 2023 
            <img src='static\frontapp\images\kepco.png' id = "kepco_img">
            KEPCO Digital Boot Camp 1기_같이걸을래 프로젝트.
            All Rights Reserved.
        </div>
    </div>
</body> {% endcomment %}
</html>