<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> ::: 이미지 API 테스트 ::: </title>
    <script type="text/javascript">
        function goBack(){
            history.go(-1);
        }
    </script>
</head>
<body>    
    <div>
        </div>
        {% for data in img_list %}
            <tr>
                {% comment %} <td><a href = {{ data }}></a></td> {% endcomment %}
                <img src="data:image/jpeg;base64,{{ data }}" alt="Image">
            </tr>   
        {% endfor %}
        <br/>
        <button onclick>찜하기</button>
        <button onClick="goBack()">뒤로가기</button>
        </div>
    </div>
</body>
</html>


